.breadcrumb {
  display: flex;
  align-items: center;
  height: 10vh;
  @include small-text;

  .breadcrumb__item {
    display: flex;
    flex-direction: row;
    margin-left: 15vw;

    .item {
      margin: 0.625em;
    }

    .item--space:before {
      content: "\203A";
      padding: 0 1em 0 0;
    }
  }
  
  .item--opacity {
    opacity: 0.6;
  }
}