.breadcrumb {
  position: absolute;
  top: 15vh;
  left: 15vw;
  font-family: "Montserrat", sans-serif;
  font-size: 0.625em;
  color: $grey;
  
  .breadcrumb__item {
    display: flex;
    flex-direction: row;

    .item {
      margin: 0.625em;
    }
  }

  .item--opacity {
    opacity: 0.6;
  }
}