.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 15vh;
  background: linear-gradient(#3D3F40, #000000);
  color: $white;
  font-family: $family;
  font-size: 0.75em;

  .footer__info {
    padding: 0 3em;
  }
}