.product__picture {
  display: grid;
  grid-template-rows: 40vh, 15vh;
  grid-template-columns: 8vw 8vw 8vw 8vw;
  grid-template-areas: "pic1 pic1 pic1 pic1" "pic2 pic3 pic4 pic5";
  grid-gap: 1vw;
  height: 50vh;
  width: 50vw;

  .pic1 {
    grid-area: pic1;
    width: 35vw;
  }

  .pic2 {
    grid-area: pic2;
    width: 8vw;
  }

  .pic3 {
    grid-area: pic3;
    width: 8vw;
  }

  .pic4 {
    grid-area: pic4;
    width: 8vw;
  }

  .pic5 {
    grid-area: pic5;
    width: 8vw;
  }
}