.product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.product__irl {
  @include small-text;
  opacity: 0.6;
  margin-top: 1.25em;
  text-align: center;
}

.infos {
  width: 40vw;
  margin-left: 10vh;
  @include font;

  .infos__title {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.8em;
  }

  p {
    margin-bottom: 0.4em;
    font-size: 0.875em;
    line-height: 1.4em;
  }
}

.brand {
  color: $blue;
}

.buy {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;

  .buy__add {
    @include button;
  }

  .buy__price {
    @include price;
  }
}

.try {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.4em;
}