@mixin title1 {
  font-family: $family;
  font-size: 1.2em;
  font-weight: bold;
}

@mixin title2 {
  font-family: $family;
  font-size: 1.15em;
  font-weight: bold;
}

@mixin title3 {
  font-family: $family;
  font-size: 0.95em;
  font-weight: bold;
  color: $blue;
}

@mixin small-text {
  font-family: $family;
  font-size: 0.625em;
  color: $grey;
}

@mixin font {
  font-family: $family;
  color: $grey;
}

@mixin price {
  font-family: $family;
  font-size: 1.4em;
  font-weight: bold;
  color: $blue;
}

@mixin button {
  background: linear-gradient(#000000, #3D3F40);
  border-radius: 8px;
  color: $white;
  font-family: $family;
  font-size: 1em;
  height: 7vh;
  width: 15vw;

  &:hover {
    cursor: pointer;
  }
}